<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}" type="text/css">
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap-timepicker.min.css' %}" type="text/css"> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/pagination.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/pagination.min.js' %}"></script>
    <!-- <script src="{% static 'js/bootstrap-timepicker.js' %}"></script> -->
    <title>{% block title %}{% endblock %} </title>
    
</head>

<script>
    var user_id_global = [];
    var userLevel;
    var loadLevel = false;
    loadAttribute();

    $(document).ready(function(){
        
        hideLoading();
        var bodyWidth = $(window).width();
        nsZoomZoom(bodyWidth);

        $(window).resize(function () {
            nsZoomZoom(bodyWidth);
        });
    });
    $(document).on('click', '.card-footer .btn', function(){
        localStorage.removeItem("user_id_global")
    });
    /**
     * Loading image is hide when page is loaded
     */
    window.onload = function () {
        hideLoading();
    }

    function changeImageSize(){
        var cameraHeight = $('.camera').height();
        var cameraWidth = $('.camera').width();
        $('.info').height(cameraHeight);

        $('.camera').find('img').width(cameraWidth);
        $('.camera').find('img').height(cameraWidth * 360 / 640);
        $('.camera').find('card-body').height(cameraWidth * 360 / 640 * 0.4);
    }

    /**
     * Show loading image
     */
    function showLoading() {
        $("#loading").fadeIn('slow');
    }

    /**
     * Hide loading image
     */
    function hideLoading() {
        $("#loading").fadeOut('slow');
    }
    
    function nsZoomZoom(bodyWidth) {changeImageSize()
        htmlWidth = $('html').innerWidth();

        if (htmlWidth < bodyWidth)
            scale = 1
        else {
            scale = bodyWidth / htmlWidth;
        }

        // Req for IE9
        $("body").css('-ms-transform', 'scale(' + scale + ')');
        $("body").css('transform', 'scale(' + scale + ')');
    }
    
    /**
     * Uppercase the first character of string
     */
     function upCaseCharAtFirst(string) {
        string = string.charAt(0).toUpperCase() + string.slice(1);
        return string;
    }
    /**
     * Load level of employee
     * 
     */
     function loadAttribute() {
        $.ajax({
            url: "{{ settings.GET_ATTRIBUTE }}",
            type: "GET",
            success: function (response) {
                if(response.status == 1) {
                    userLevel = response.data_list.level_list;
                    localStorage.setItem('userLevel', userLevel);
                }
            },
            error: function(xhr,textStatus,err) {
                console.log(xhr);
            },
            done: function (data, textStatus, jqXHR) {
                loadLevel = true;
            }
        });
    }
</script>
<body>

    <div class="container-fluid">
            <input type="hidden" id="success-alert" value="<strong>Success!</strong> You have been registered successfully!"/>
            <input type="hidden" id="error-alert" value="<strong>Error!</strong> Register unsuccessful."/>
            <input type="hidden" id="update-config-success" value="<strong>Success!</strong> Update config server successfully!"/>
            <input type="hidden" id="update-config-camera-success" value="<strong>Success!</strong> Update config camera successfully!"/>
            <input type="hidden" id="system-error" value="<strong>System error!</strong>"/>
            <input type="hidden" id="delete-image-confirm" value="Do you want to delete this image?"/>
            <input type="hidden" id="delete-image-sucess" value="Delete image successfully"/>
            <input type="hidden" id="delete-image-fail" value="Delete image unsuccessfully"/>
            <input type="hidden" id="update-user-message" value="Do you want to update this user?"/>
            <input type="hidden" id="userLevelStorage" value=""/>
        <div class="row content-body">
            <div class="col-md-8 camera">
                <div class="video-stream text-center " id = "showImage">
                    <!-- //<iframe src='{{ settings.VIDEO_STREAM }}' width="100%" height="100%" frameborder='0' allowfullscreen></iframe> -->
                    <img class = 'video-image' src="{{ settings.VIDEO_STREAM }}" alt="">
                </div>
               
            </div>
            <div class="card border-secondary col-md-4 info" >
                <div class="card-header">{% block header %}{% endblock %}</div>
                <div class="block-contain-modal">
                        {% block content %}{% endblock %}
                </div>
                <div class="card-footer btn-group btn-group-lg menu-bar">
                        <a class="btn btn-primary" href="/fci/home"><i class="fa fa-home" style="font-size: 30px"></i></a>
                        <a class="btn btn-primary" href="/fci/employees"><i class="fa fa-users"></i></a>
                        <a class="btn btn-primary" href="/fci/user"><i class="fa fa-user-plus"></i></a>
                        <a class="btn btn-primary" href="/fci/config"><i class="fa fa-cog"></i></a>
                </div>
            </div>
           
        </div>
        <div id="loading">
            <img id="loading-image" src="https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif"
                alt="Loading..." />
        </div>
        {% include "pages/modal.html" %}
    </div>
</body>
</html>
