{% extends "pages/base.html" %}

{% block  title %} Home {% endblock %}

{% block header %}
    <h4><small class="title-config">Settings</small></h4>
{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active"  data-toggle="tab" href="#server_config">Server</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#camera_config">Camera</a>
    </li>
</ul>
<div class="tab-content">
    <div id="server_config" class="container tab-pane active"><br>
        <form  method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="hostName">Host name</label>
                    <input type="text" class="form-control" value="{{settings.domain.hostname}}" id="hostName">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="portApi">Port API</label>
                    <input type="number" class="form-control" value="{{settings.domain.portApi}}" id="portApi">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="portCamera">Port Camera</label>
                    <input type="number" class="form-control" value="{{settings.domain.portCamera}}" id="portCamera">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="nEmployee">Number Employees</label>
                    <input type="number" class="form-control" value="{{settings.domain.nEmployee}}" id="nEmployee">
                </div>
            </div>
            <div class="row update-config">
                <div class="col">
                    <button type="button" id="update" class="btn btn-success">
                        <small>Update</small>
                    </button>
                </div>
            </div>
            
        </form>
    </div>
    <div id="camera_config" class="container tab-pane"><br>
        <form  method="POST" id="updateCameraForm">
            {% csrf_token %}
            <div id="cameraConfigAttributes">
            </div>
            <div class="row update-config">
                <div class="col">
                    <button type="button" onclick= "updateCamera();" class="btn btn-success">
                        <small>Update</small>
                    </button>
                </div>
            </div>
            
        </form>
    </div>
</div>
<div class="content" id="config-sv">
    

<script>
    loadAttribute();
    loadAttributeConfigCamera();

    $("#update").click(function(e) {
        var requestData = requestDataConfigServer();
        $.ajax({
            url: '/fci/update',
            type:'POST',
            data: {
                domain: requestData,
                csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
            },
            dataType: 'json',
            success:  function (response) {
                try {
                    hideLoading();
                    if(response.status == 1) {
                        showAlert($('#update-config-success').val(), null)
                    } else {
                        showAlert($('#error-alert').val(),$('#system-error').val(),'html','error');
                    }
                    
                } catch (error) {
                    hideLoading();
                    showAlert($('#error-alert').val(),$('#system-error').val(),'html','error');
                }
               
            }
        });
    })

    function requestDataConfigServer() {
        var hostname = $("#hostName").val();
        var portApi = $("#portApi").val();
        var portCamera = $("#portCamera").val();
        var numberEmployee = $("#nEmployee").val();

        return {
            hostname : hostname,
            portApi: portApi,
            portCamera: portCamera,
            numberEmployee: numberEmployee
        }
    }
   
    function updateCamera()
    {
        var requestData = configCameraForm();
        var isValid = validFormData();

        if(isValid.isValid) {
            showLoading();
            $.ajax({
                url: "{{ settings.CAMERA_CONFIG_URL }}",
                type: "POST",
                data: requestData,
                success: function (response) {
                    hideLoading();
                    try {
                        if(response.status == 1) {
                            showAlert($('#update-config-camera-success').val(),null)
                            resetForm();
                        }
                        
                    } catch (error) {
                        hideLoading();
                        showAlert($('#error-alert').val(),$('#system-error').val(),'html','error');
                    }                  
                },
                error: function(xhr,textStatus,err) {
                    hideLoading();
                    showAlert($('#error-alert').val(),$('#system-error').val(),'html','error');
                }
              });
        } else {
            hideLoading();
            showAlert( isValid.message, "Validation error",'html','error');
        }
    }

    function resetForm() {
        $('#updateCameraForm')[0].reset();
    }

    function configCameraForm() {
        var results = {};
        var form = document.getElementById("updateCameraForm");
        var inputs = form.getElementsByTagName("input"), input = null, flag = true;

        for (var i = 0, len = inputs.length; i < len; i++) {
            var input = inputs[i];
            results[input.name] = input.value;
        }
        return results;
        
        return {
            'camera_url' : $("#camera_url").val(),
            'camera_width' : $("#camera_width").val(),
            'camera_height' : $("#camera_height").val(),
            'level_list' : $("#level_list").val()
        }
    }

    function getId(e){return document.getElementById(e)}

    function isFloat(n) {
        return parseFloat(n.match(/^-?\d*(\.\d+)?$/))>0;
    }
    function isInt(n) {
        return parseFloat(n.match(/^\d+$/))>0;
    }

    function validFormData() {
        var isValid = true;
        var message = '';

        var form = document.getElementById("updateCameraForm");
        var inputs = form.getElementsByTagName("input"), input = null, flag = true;

        for (var i = 0, len = inputs.length; i < len; i++) {
            input = inputs[i];
            if (input.name != "csrfmiddlewaretoken") {
                var label = getId(input.id).previousElementSibling.innerHTML;
                if (!input.value || input.value.trim().length === 0) {
                    message += label + " must not empty <br>";
                    getId(input.id).classList.add('is-invalid');
                    isValid = false;
                } else {
                    getId(input.id).classList.remove('is-invalid');
                }
                switch (input.getAttribute('dataType')) {
                    case 'int':
                        if (!isInt(input.value)) {
                            message += label + " must be an integer and greater than 0 <br>";
                            isValid = false;
                            getId(input.id).classList.add('is-invalid');
                            input.focus();
                        } else {
                            getId(input.id).classList.remove('is-invalid');
                        }
                        break;
                    case 'float':
                        if (!isFloat(input.value)) {
                            message += label + " must be an float number and greater than 0 <br>";
                            isValid = false;
                            getId(input.id).classList.add('is-invalid');
                            input.focus();
                        } else {
                            getId(input.id).classList.remove('is-invalid');
                        }
                        break;

                    default:
                        break;
                }
            }

        }
        return {'isValid': isValid,
                "message": message};
    }

    function loadAttribute() {
        showLoading();
        $.ajax({
            url: "{{ settings.GET_ATTRIBUTE }}",
            type: "GET",
            success: function (response) {
                try {
                    hideLoading();
                    if(response.status == 1) {
                        var html = "";
                        var level = response.data_list.level_list;
                        $.each(level, function(i, v) {
                            html += "<option value="+ v.value+">"+ upCaseCharAtFirst(v.name) + "</option>";
                        });

                        var streaming_status = response.data_list.streaming_status_list;
    
                    $("#level_list").append(html);
                    }
                    
                } catch (error) {
                    hideLoading();
                    console.log(error);
                }
                
            },
            error: function(xhr,textStatus,err) {
                hideLoading();
                console.log(err);
            }
        });
    }

    /**
     * Function call ajax to check can get camera config or not
     *              If Yes: generate camera config attribute by html
     *              If No: Show error alert
     */
    function loadAttributeConfigCamera() {

        $.ajax({
            url: "{{ settings.CAMERA_CONFIG_ATTRIBUTES }}",
            type: "GET",
            success: function (response) {
                try {
                    if (response.status == 1) {
                        generateCameraConfigHtml(response.camera_configs);
                    }

                } catch (error) {
                    hideLoading();
                    showAlert($('#error-alert').val(),$('#system-error').val(),'html','error');
                }
                
            },
            error: function(xhr,textStatus,err) {
                hideLoading();
                showAlert($('#error-alert').val(),$('#system-error').val(),'html','error');
            }
        });
    }

    /**
     * From loadAttributeConfigCamera response, generate HTML
     */
     function generateCameraConfigHtml(camera_configs) {
        var cameraConfigAttributes = document.getElementById('cameraConfigAttributes');
        var html = '';
        cameraConfigAttributes.innerHTML = '';
        $.each(camera_configs, function(index, config) {
            var type = "text";
            switch (config.type) {
                case 'int':
                case 'float':
                    type = "number";
                    break;
            }
            var enabled = config.edit ? '' : "disabled"; 
            html += `<div class="row">
                        <div class="form-group col-sm-12">
                            <label for="` + config.name +`">` + formatConfigName(config.name) + ` (default: ` + config.default + `)</label>
                            <input type="` + type + `" dataType="` + config.type + `" class="form-control col-sm-4" value="` +
                                config.value + `" id="` + config.name + `" " name="` + config.name + `" ` + enabled + `>
                        </div>
                    </div>`;
        })

        cameraConfigAttributes.innerHTML = html;
    }

    /**
     * Replace _ to space and upcase the first charcter on string
     */
    function formatConfigName(name){
        name = name.replace(/_/g, " ");
        name = upCaseCharAtFirst(name);
        return name;
    }
</script>
</div>
{% endblock %}