{% extends "pages/base.html" %}

{% block  title %} Home {% endblock %}

{% block header %}
<h4>
    <small class="title-check-in">List of Employees</small>
</h4>
{% endblock %}

{% block content %} 

<div class="content" id="employees">
    <!-- <div class="row">
        <div class="col-sm-6 align-center">
            <i class="fa fa-close"></i>
            <small>Nguyen Van A</small>
        </div>
        <div class="col-sm-3 align-center text-center">
            <small>1987/07/05</small>
        </div>
        <div class="col-sm-3 text-center">
            <img src="http://172.16.7.43:5001/cv/data/show_image?image_id=4846" height="40" width="40">
        </div>
    </div> -->
    <div id="container">

    </div>
</div>

<script>
    var current_page = 1;
    var records_per_page = 8;
    var result ;
    var user_id;

    $(window).ready(start());

    function start (){
        $.when(loadAttribute()).then(function(data, textStatus, jqXHR){
            loadListEmployees()
        });
    }

    function loadListEmployees() {

        var user_id_list = [];
        $.ajax({
            url: '{{ settings.GET_USERS }}',
            type: 'POST',
            data: {
                user_id_list : user_id_list
            },
            success: function (response) {
                var nEmployee = parseInt('{{ settings.NUMBER_EMPLOYEE }}');
                $('#employees').pagination({
                    dataSource: response.data_list,
                    pageSize: nEmployee,
                    callback: function(data, pagination) {
                        // template method of yourself
			            data = sortDataByUserId(data);
                        var html = genenrateHtmlData(data);
                        $("#container").empty();
                        $("#container").append(html);
                    }
                })
            },
            error: function(xhr,textStatus,err) {
                console.log(xhr);
            }
        });
    }

    function sortDataByUserId(data) {
        
        for(var i = 0; i < data.length; i++) {
            for(var j = i; j < data.length; j++) {
                if(data[j].user_id < data[i].user_id) {
                    var tmp = data[i];
                    data[i] = data[j];
                    data[j] = tmp;
                }
            }
        }

        return data;
    }	

    function genenrateHtmlData(data) {
        var html = "";
        $.each(data, function(i, v) {
            var urlGetImage = "{{ settings.SHOW_USER_IMAGE }}";
            var icon = v.activate ? "<i class='fa fa-check-circle status-activate mr-right'></i>" : "<i class='fa fa-times-circle mr-right'></i>";
            var level = upCaseCharAtFirst(userLevel[v.level].name);
            var birthday = v.dob.slice(0,4) + "/" + v.dob.slice(4,6) + "/" + v.dob.slice(6,8);
            html += "<div class='row user-list' onclick='showImage(this)' user_id= '"+ v.user_id + "'>";
            html +=    "<div class='col-1 align-center'>";
            html +=        icon;
            html +=    "</div>"
            html +=    "<div class='col-3 align-center'>";
            html +=        "<small>" + v.name  +"</small>";
            html +=    "</div>"
            html +=    "<div class='col-3 align-center text-center pd-left'>"
            html +=        "<h4 class='txt-center'><small>" + birthday + "</small></h4>"
            html +=     "</div>"
            html +=    "<div class='col-2 align-center text-center pd-left'>"
            html +=        "<h4 class='txt-center'><small>" + level + "</small></h4>"
            html +=     "</div>"
            html +=     "<div class='col-2 text-center'>"
            html +=         "<img src='{{ settings.SHOW_USER_IMAGE }}?user_id="+ v.user_id + '&user_image_id=' + v.pretrainedimage_id + "'  height='80' width='80'>"
            html +=     "</div>"
            html += "</div>";
        });
        return html;
    }

    function showImage(event) {
        user_id = event.getAttribute('user_id');
        var data = {'user_id' : user_id};
        $.ajax({
            url: '{{ settings.GET_USER_IMAGE }}',
            type: 'POST',
            data: data,
            success: function (response) {
                //on success
                result = response;
                showImageHtml(response, user_id);
            },
            error: function(xhr,textStatus,err) {
                //on failed
                showAlert($('#error-alert').val(),$('#system-error').val(),'html','error');
            }
        });
    }
    /**
     * Delete image of user id
    */
    function deleteImage(event) {
        // var user_id = event.getAttribute('user_id');
        var user_image_id = event.getAttribute('user_image_id');

        var data = {'user_id' : user_id, 'user_image_id' : user_image_id};

        showComfirm($('#delete-image-confirm').val(), '', {yes_no_button: true}, function() { yesImageDelete(data, event); });
    }

    function yesImageDelete(data, event){
        showLoading();
        $.ajax({
            url: '{{ settings.DELETE_USER_IMAGE }}',
            type: 'POST',
            data: data,
            success: function (response) {
                try {
                    hideLoading();
                    if(response.status == 1) {
                        event.closest('.user-image').remove();
                        removeArr(result.data_list, Number(data.user_image_id));
                        showImageHtml(result, user_id,current_page);
                        showAlert($('#delete-image-sucess').val(), null)
                    } else {
                        showAlert($('#delete-image-fail').val(),$('#system-error').val(),'html','error');
                    }
                    
                } catch (error) {
                    hideLoading();
                    showAlert($('#delete-image-fail').val(),$('#system-error').val(),'html','error');
                }
            },
            error: function(xhr,textStatus,err) {
                //on failed
                showAlert($('#delete-image-fail').val(),$('#system-error').val(),'html','error');
            }
        });
    }

    function removeArr(arr) {
        var what, a = arguments, L = a.length, ax;
        while (L > 1 && arr.length) {
            what = a[--L];
            while ((ax = arr.indexOf(what)) !== -1) {
                arr.splice(ax, 1);
            }
        }
        return arr;
    }

    /**
     * show all image of specificed user
    */
    function showImageHtml(response, user_id, page = 1){
        var showImage = document.getElementById('showImage');
        var urlGetImage = "{{ settings.SHOW_USER_IMAGE }}";
        showImage.innerHTML = '';
        var className = response.activate ? "active" : "inactive";
        var html = `<div class="card-header">
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-2 col-md-2">
                                <img onclick="addUserConfirm()" src="{{ settings.SHOW_USER_IMAGE }}?user_id=`+ response.user_id + `&user_image_id=` + response.pretrainedimage_id + `"
                                alt="" title = "Add user" class="img-circle ` + className + `" />
                            </div>
                            <div class="col-sm-4 col-md-4 text-left">
                                    <h4> ` + response.name + `</h4>
                                    <small><i>` + response.description + `</i></small>
                                    <br/> Level: ` + upCaseCharAtFirst(userLevel[response.level].name) + `
                                    <br /> DOB: ` + moment(response.dob, "YYYYMMDD").format('MM/DD/YYYY') + `</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">`;
        html += '<div class="row">';

        if (page > numPages(response.data_list)) page = numPages(response.data_list);
        if (page <= 1) { page = 1 };
        

        for (var i = (page-1) * records_per_page; i < (page * records_per_page); i++){
            if(i < response.data_list.length) {
                var v = response.data_list[i];
            var image = urlGetImage + '?user_id=' + user_id + '&user_image_id=' + v;
            html += `<div class="col-6 col-sm-4 col-md-3 p-2 user-image">
                                    <div class="card-header-img">
                                        <img class="card-img-top mx-auto" src="`+ image + `" alt="Card image cap">
                                        <span class="close" title="Delete image" onclick="deleteImage(this)"
                                        user_id="` + user_id + `" user_image_id="` + v + `">&times;</span>
                                    </div>
                                    <div class="card-text">
                                        <small class="text-muted">` + i + `</small>
                                    </div>
                            </div>`;
            }
            
        }
        html += `    </div>
                            </div>`;
        html += `<button class = "btn-primary" onclick="prevPage(this)" value="` + user_id + `" id="btn_prev">Prev</button>
                <button class = "btn-primary" onclick="nextPage(this)" value="` + user_id + `" id="btn_next">Next</button>`;
        showImage.innerHTML = html;

        if (page == 1) {
            btn_prev.style.visibility = "hidden";
        } else {
            btn_prev.style.visibility = "visible";
        }

        if (page >= numPages(response.data_list)) {
            btn_next.style.visibility = "hidden";
        } else {
            btn_next.style.visibility = "visible";
        }
    }
    /**
     * Show confirm to go to add user screen
     * 
     */
    function addUserConfirm(event){
        showComfirm($('#update-user-message').val(), '', {yes_no_button: true}, gotoAddUser);
    }
    /**
     * Go to add user screen
     * 
     */
    function gotoAddUser() {
        var addUserUrl = "{{ settings.GET_UPDATE_USER_URL }}";
        localStorage.setItem('user_id_global', user_id);

        window.location.href = addUserUrl;
    }

    function prevPage(event)
    {
        if (current_page > 1) {
            current_page--;
            showImageHtml(result, user_id, current_page);
        }
    }

    function nextPage(event)
    {
        if (current_page < numPages(result.data_list)) {
            current_page++;
            showImageHtml(result, user_id,current_page);
        }
    }
    
    function numPages(data_list)
    {
        return Math.ceil(data_list.length / records_per_page);
    }

    function parseDate(dateStr, format) {
        const regex = format.toLocaleLowerCase()
            .replace(/\bd+\b/, '(?<day>\\d+)')
            .replace(/\bm+\b/, '(?<month>\\d+)')
            .replace(/\by+\b/, '(?<year>\\d+)')

        const parts = new RegExp(regex).exec(dateStr) || {};
        const { year, month, day } = parts.groups || {};
        return parts.length === 4 ? new Date(year, month - 1, day) : undefined;
    }
    
</script>
{% endblock %}