{% extends "pages/base.html" %}

{% block  title %} Home {% endblock %}
{% block header %}
<h4>
    <small class="title-check-in">Recent check-in</small>
    <i class="fa fa-file-text-o export"></i>
</h4>
{% endblock %}

{% block content %} 

<div class="content" id="timesheet">

</div>


<div class="modal fade bd-example-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
<div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="mySmallModalLabel">Export TimeSheet</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Start Time</label>
                    <div class="col-sm-6">
                        <input type="text" id="startTime" class="date form-control" />
                    </div>
            </div>
            <div class="form-group row">
                    <label class="col-sm-3 col-form-label">End Time</label>
                    <div class="col-sm-6">
                        <input type="text" id="endTime" class="date form-control" />
                    </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <button type="button" id="download" class="btn btn-primary">
                        <strong>OK</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>

    var blinkTimeDuration = 60;

    var user_id_list = [];
    var reloadCheckInUser;
    reloadCheckInUser();
    updateCheckInUser();

    function reloadCheckInUser() {
        var requestData = requestDataTimeSheet();
        $.ajax({
            url: '{{ settings.SHOW_TIMESHEET }}',
            type: 'POST',
            data: requestData,
            success: function (response) {
              if(response.status == 1) {
                var data = response.data_list;
                data = sortDataTimeSheet(data);
                if (data.length > 10) {
                    data = data.slice(0, 10);
                }
                
                var isReFreshCheckInUser = false;

                if(user_id_list.length == 0) {
                    $.each(data, function(i) {
                        user_id_list.push(data[i].user_id);
                    });
                    isReFreshCheckInUser = true;
                } else {

                    if(!matchingUserId(user_id_list, data)) {
                        isReFreshCheckInUser = true;
                        user_id_list = [];
                        $.each(data, function(i) {
                            user_id_list.push(data[i].user_id);
                        });
                    }
                }

                if(isReFreshCheckInUser) {
                    var html = genenrateHtmlData(data);
            
                    $("#timesheet").empty();
                    $("#timesheet").append(html);
                }

              }
            },
            error: function(xhr,textStatus,err) {
                console.log(xhr);
                clearInterval(reloadCheckInUser)
            }
        });
    }

    function matchingUserId(user_id_list, data) {

        for(var i = 0; i < user_id_list.length; i++) {
            if(user_id_list[i] != data[i].user_id)
                return false;
        }

        return true;
    }

    function updateCheckInUser() {
        reloadCheckInUser = setInterval(reloadCheckInUser, 100);
    }

    function sortDataTimeSheet(data) {
        for (var i = 0; i < data.length; i++) {
            for(var j = i + 1; j < data.length; j++)
                if(data[i].end_time < data[j].end_time) {
                    var tmp = data[i];
                    data[i] = data[j];
                    data[j] = tmp;
                }
        }
        return data;
    }

    function requestDataTimeSheet() {
        var user_id_list = [];
        var end_time = Math.floor(Date.now() / 1000);
        var start_time = end_time - 3600 * 24;
        return {
            'user_id_list': user_id_list,
            'start_time': start_time, 
            'end_time': end_time
        }
    }
    
    function genenrateHtmlData(data) {
        var html = "";
        $.each(data, function(i, v) {
            var now = new Date().getTime() / 1000;
            var checkInTime = new Date(v.end_time_datetime);

            var getDiffTime = (now-checkInTime.getTime() / 1000);
            checkInTime = formatAMPM(checkInTime);
            html += "<div class='row'>";
            html +=    "<div class='col-sm-3'>";
            if(getDiffTime <= blinkTimeDuration) {
                html +=        "<h4><small><blink>" + checkInTime + "</blink></small></h4>";
            } else {
                html +=        "<h4><small>" + checkInTime + "</small></h4>";
            }            
            html +=    "</div>"
            html +=    "<div class='col-sm-6'>"
            if(getDiffTime <= blinkTimeDuration) {
                html +=        "<h4 class='txt-center'><small><blink>" + v.name + "</blink></small></h4>"
            } else {
                html +=        "<h4 class='txt-center'><small>" + v.name + "</small></h4>";
            } 
            
            html +=     "</div>"
            html +=     "<div class='col-sm-3 text-center pd-right-none'>"
            html +=         "<img src='{{ settings.SHOW_IMAGE }}?image_id="+ v.image_id+ "'  height='80' width='80'>"
            html +=     "</div>"
            html += "</div>";
        });
        return html;
    }

    function formatAMPM(date) {
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        minutes = minutes < 10 ? '0' + minutes : minutes;
        var strTime = hours + ':' + minutes + ' ' + ampm;
        return strTime;
    }

    $(".export").click(function(e) {
        $('#myModal').modal({backdrop: 'static', keyboard: false});
        $('.date').val('');
        $(".date").datetimepicker({
            format: 'yyyy-mm-dd hh:ii',
            useCurrent: false,
            maxDate: new Date(),
            autoclose: true
        });

        var date = new Date();
        $("#endTime").datetimepicker('setDate', date);
        
        date.setDate(1);
        date.setHours(0);
        date.setMinutes(0);
        $("#startTime").datetimepicker('setDate', date);
    })

    function getcsvFileName(d){
        var s = function(a,b){return(1e15+a+"").slice(-b)};

        // default date parameter
        if (typeof d === 'undefined'){
            d = new Date();
        };

        // return ISO datetime
        return d.getFullYear() +
            s(d.getMonth()+1,2) +
            s(d.getDate(),2) + '_' +
            s(d.getHours(),2) +
            s(d.getMinutes(),2) +
            s(d.getSeconds(),2);
    }

    $("#download").click(function(e) {
        var startTime = $("#startTime").val();
        var endTime = $("#endTime").val();

        var startDateTime = Math.floor(new Date(startTime).getTime() / 1000);
        var endDateTime = Math.floor(new Date(endTime).getTime() / 1000);

        var dateEndTime = new Date(endTime);console.log(dateEndTime);
        var csvFileName = getcsvFileName(dateEndTime);

        var url = '{{ settings.DOWNLOAD_TIMESHEET }}';
        url += "?start_time=" + startDateTime + "&end_time=" + endDateTime;

        $.ajax({
            url: url,
            type: 'POST',
            success: function (response) {
                // console.log(response)
                let csvContent = "data:text/csv;charset=utf-8," + response;
                var encodedUri = encodeURI(csvContent);
                var link = document.createElement("a");
                link.setAttribute("href", encodedUri);
                link.setAttribute("download", csvFileName + ".csv");
                document.body.appendChild(link);
                link.click();

                $('#myModal').modal('hide');
            },
            error: function(xhr,textStatus,err) {
                console.log(xhr);
            }
        });
    })

      
</script>

{% endblock %}