{% extends "pages/base.html" %}

{% block  title %} User {% endblock %}

{% block header %} <h4><small class="title-check-in">Register Face </small></h4>{% endblock %}
{% block content %}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active"  data-toggle="tab" href="#register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#guide">User Guide</a>
    </li>
</ul>

<div class="tab-content">
    <div id="register" class="container tab-pane active"><br>
        <form method="POST" id="myRegisterForm">
            {% csrf_token %}
            <div class="form-group row  required">
                <label class="col-sm-3 col-form-label ">ID</label>
                <div class="col-sm-9"> 
                <input type="text"  minlength="1" name="user_id" class="form-control" value="" id="userId" autocomplete="on">
                </div>
            </div>
            <div class="form-group row required">
                <label class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                <input type="text" name="name" class="form-control" id="name" autocomplete="on">
                </div>
            </div>
            <div class="form-group row required">
                <label class="col-sm-3 col-form-label">DOB</label>
                <div class="col-sm-9">
                    <input type="text" name="dob" class="form-control" id="birthday" autocomplete="on">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Level</label>
                <div class="col-sm-9">
                    <select class="form-control" id="level" name="level">
                        
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-12 col-form-label">Description</label>
            </div>

            <div class="form-group row">
                <div class="col-sm-12">
                    <textarea class="form-control" rows="3" name="description" id="description" autocomplete="on"></textarea>
                    <input type="hidden" value=0>
                </div>
            </div>

            <div class="form-group row process">
                <span><i class="fa fa-play color-green" title = "Start record" id="start-record" aria-hidden="true" onclick= "registerUser(0);"></i></span>
                <span><i class="fa fa-stop text-secondary" disabled id="stop-record" title = "Stop record" aria-hidden="true" onclick= "registerUser(1);"></i></span>
                <span><i class="fa fa-refresh text-secondary" disabled title = "Reset record" id="reset-record" aria-hidden="true" onclick= "registerUser(2);"></i></span>    
            </div>
        </form>
    </div>
    <div id="guide" class="container tab-pane"><br>
        <p>1. Add new person information.</p>
        <p>2. Show your fonts face in front of camera view.</p>
        <p>3. Click <strong class="color-green">Start</strong> <i class="fa fa-play color-green" aria-hidden="true"></i> to start record</p>
        <p>3. Click <strong class="color-green">Stop</strong> <i class="fa fa-stop color-green" aria-hidden="true"></i> to stop record</p>
        <p>3. Click <strong class="text-danger">Reset</strong> <i class="fa fa-refresh text-danger" aria-hidden="true"></i> to reset record</p>
    </div>
</div>
<script>

    var start_record = "#start-record";
    var stop_record = "#stop-record";
    var reset_record = "#reset-record";

    loadUserlevel();
    loadUserInformation();

    $('#birthday').datepicker({
        format: 'yyyymmdd',
        maxDate: new Date(),
        autoclose: true
    });

    function registerUser(streaming_status)
    {
        var requestData = requestRegisterForm(streaming_status);
        var isValid = validFormData(requestData);

        if(isValid) {
            showLoading();
            setStateButton(streaming_status);
            $.ajax({
                url: "{{ settings.REGISTER_USER }}",
                type: "POST",
                data: requestData,
                success: function (response) {
                    try {
                        hideLoading();
                        if(response.status == 1) {
                            showAlert($('#success-alert').val(),null,'html','success')
                            //resetForm();
                        } else {
                            showAlert($('#error-alert').val(),$('#system-error').val(),'html','error');
                        }
                        
                    } catch (error) {
                        hideLoading();
                        showAlert($('#error-alert').val(),$('#system-error').val(),'html','error');
                    }                  
                },
                error: function(xhr,textStatus,err) {
                    hideLoading();
                    showAlert($('#error-alert').val(),$('#system-error').val(),'html','error');
                }
              });
        } else {
            hideLoading();
            showAlert( "ID, Name, DOB not empty", "Validation error",'html','error');
        }
    }

    function loadUserlevel() {
        $.ajax({
            url: "{{ settings.GET_ATTRIBUTE }}",
            type: "GET",
            success: function (response) {
                try {
                    hideLoading();
                    if(response.status == 1) {
                        var html = "";
                        var level = response.data_list.level_list;
                        $.each(level, function(i, v) {
                            html += "<option value="+ v.value+">"+ upCaseCharAtFirst(v.name) + "</option>";
                        });

                        var streaming_status = response.data_list.streaming_status_list;
    
                    $("#level").append(html);
                    }
                    
                } catch (error) {
                    hideLoading();
                    console.log(error);
                }
                
            },
            error: function(xhr,textStatus,err) {
                hideLoading();
                console.log(err);
            }
        });
    }

    function loadUserInformation() {
        $.ajax({
            url: "{{ settings.GET_USERS }}",
            type: 'POST',
            data: {
                user_id : localStorage.getItem("user_id_global")
            },
            success: function (response) {
                try {
                    hideLoading();
                    if(response.status == 1 && localStorage.getItem("user_id_global") != null) {
                        var user_information = response.data_list;
                        document.getElementById("userId").value = user_information[0].user_id; 
                        document.getElementById("name").value = user_information[0].name; 
                        $("#birthday").datepicker('setDate', new Date(moment(user_information[0].dob, "YYYYMMDD")));
                        document.getElementById("level").value = user_information[0].level;
                        document.getElementById("description").value = user_information[0].description;
                    }
                    localStorage.removeItem('user_id_global');
                } catch (error) {
                    hideLoading();
                    console.log(error);
                }
                
            },
            error: function(xhr,textStatus,err) {
                hideLoading();
                console.log(err);
            }
        });
    }

    function validFormData(data) {
        if(data.user_id.trim() == "" || data.name.trim() == "" || data.dob.trim() == "")
            return false;
        return true;
    }

    function requestRegisterForm(streaming_status) {
        return {
            'user_id' : $("#userId").val(),
            'name' : $("#name").val(),
            'dob' : $("#birthday").val(),
            'level' : $("#level").val(),
            'description' : $("#description").val(),
            'streaming_status' : streaming_status
        }
    }

    function resetForm() {
        $('#myRegisterForm')[0].reset();
    }

    /*
    * Set state disable or not and it's color on button
    *
    */
    function setStateButton(streaming_status) {
        switch (streaming_status) {
            case 0:
                $(stop_record).attr("disabled", false);
                $(reset_record).attr("disabled", false);
                $(start_record).attr("disabled", true);

                $(stop_record).removeClass('text-secondary');
                $(stop_record).addClass('color-green');

                $(start_record).removeClass('color-green');
                $(start_record).addClass('text-secondary');

                $(reset_record).addClass('text-danger');
                $(reset_record).removeClass('text-secondary');
                break;
            case 1:
                $(stop_record).attr("disabled", true);
                $(start_record).attr("disabled", false);
                $(reset_record).attr("disabled", false);

                $(stop_record).addClass('text-secondary');
                $(stop_record).removeClass('color-green');

                $(start_record).addClass('color-green');
                $(start_record).removeClass('text-secondary');

                $(reset_record).addClass('text-danger');
                $(reset_record).removeClass('text-secondary');
                break;
            case 2:
                
                break;
        }
    }
</script>
{% endblock %}
