pytz==2021.1
confluent_kafka==1.7.0
filterpy==1.4.5
imutils==0.5.4
numba==0.53.1
numpy
pandas
pydrive
PyQt5==5.15.4
pyrebase
python_dateutil==2.8.1
scikit_learn==0.22.2
scipy
PyJWT
faiss-cpu
dlib
opencv-python
opencv-python-headless
tqdm==4.61.1
UI==0.1.4
